{%extends "base.html"%}
{% load tailwind_filters %}

{% block content2 %}
    <div class="gap-2 flex">
        <div class="ml-2 flex flex-col justify-center w-1/2"> 
            <h1 class="text-xl font-bold text-gray-900 my-5 sm:text-1xl">Iniciar Sesión</h1>
            <form action="" method="post" class="w-96">
                {% csrf_token %}
                {{ form|crispy }}
                
                <button type="submit" class="inline-block rounded-sm mt-5 border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:ring-3 focus:outline-hidden">Login</button>
            </form>
            
        </div>

        <div class="w-fit">
            <img
                src="/media/img_users/cafe_canva.jpg"
                alt="Imagen Login"
                class="max-w-full object-contain rounded-sm h-100 rounded-r-lg shadow-md"
            />
        </div>
    </div>
{% endblock content2 %}

